header{
    position: fixed;
    top: 0px;
    left: 0px;
    width: 20%;
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 100%;
}
header .top-menu{
    display: flex;
    flex-direction: column;
    align-items: center;
}
header .top-menu .hom-menu{
    text-decoration: none;
    color: #293746;
    font-size: 1.625em;
}
header .top-menu .bor-bottom{
    border: 5px solid #5083F1;
    border-radius: 30px;
    width: 25%;
}
header .mid-menu .pol-fir{
    text-decoration: none;
    color: #B8C5D3;
}
header .mid-menu .pol-fir span{
    font-size: 1.625em;
    vertical-align: super;
}
header .bttm-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
}
header .bttm-menu .login {
    text-decoration: none;
    color: #4072EE;
    align-items: center;
    margin: 0 auto;
}
header .bttm-menu .login span{
    display: inline-block;
    width: 100%;
    font-size: 	1.25em;
}