@font-face {
    font-family: Poppins-Bold;
    src: url(../fonts/Poppins-Bold.ttf),
        url(../fonts/Poppins-Bold.eot);
}

@font-face {
    font-family: Poppins-Regular;
    src: url(../fonts/Poppins-Medium.ttf),
        url(../fonts/Poppins-Medium.eot);
}
* {
    margin: 0px;
    padding: 0px;
    outline: none !important;
}
body {
    font-family: Poppins-Regular !important;
    background-color:#679CF6 ;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
}